body{
    font-family: sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
}
ul{
    list-style-type: decimal;
    padding: 0;

}
.book{
    padding: 10px 15px ;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3 s;
}
.book:hover{
    background-color: #eee;
}
.book.selected{
    background-color: orange;
}